@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Poppins, sans-serif;
}

.background-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#beach-sunset {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: absolute;
    width: 100%;
    padding: 1.3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#logo {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

#toggle-pause {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.pause {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    position: absolute;
}

.play {
    fill: rgb(255, 255, 255);
    pointer-events: none;
    position: absolute;
    transform: scale(2);
    display: none;
}

main {
    position: absolute;
    top: 190px;
    max-width: 600px;
    margin-left: 5rem;
    z-index: 1;
    display: none;
}

.hero {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;    
    line-height: 1;
}

.byo {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}

#warning {
    fill: white;
    height: 2rem;
    width: 2rem;
    margin-left: 5px;
}

.content {
    font-weight: 200;
    margin-bottom: 2rem;
}

#create-account {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    color: black;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#create-account * {
    pointer-events: none;
}

#create-account:hover {
    color: rgb(38, 38, 99);
    cursor: pointer;
}

#create-account:hover #arrow-right {
    fill: rgb(38, 38, 99);
}

#arrow-right {
    height: 1.2rem;
    margin-left: 0.5rem;
}

.account-log-in {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 1px;
}

a {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 5rem;
    z-index: 1;
}

#social {
    width: 1.2rem;
    height: 1.2rem;
    fill: white;
    margin-right: 1rem;
}

.background-reference {
    display: inline-block;
    font-weight: 200;
    font-size: 0.8rem
}

#social,
#logo, 
#toggle-pause:hover {
    cursor: pointer;
}

.form {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 7rem;
    padding: 2rem;
    left: 100px;
    max-width: 700px;
    background: #fff;
    color: black;
    border: 1px solid rgb(126, 108, 108);
    border-radius: 8px;
    z-index: 1;
}

.form-input {
    margin-bottom: 10px;
    display: inline-block;
}

.travel-reason {
    border: none;
}

.travel-reason label {
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
}

.form a {
    color: black;
}